$primary-color: #ffd602;
$secondary-color: #036cb6;
$brand-color: #d5040a;

* {
	box-sizing: border-box;
}

a {
	text-decoration: none;
	color: initial;
}

img {
	inline-size: 100%;
	block-size: auto;
}

:root {
	font-size: 62.5%;
}

body {
	font-size: 1.6rem;
	font-family: 'Lato', sans-serif;
	block-size: 100vh;
	overflow: hidden;
}
