$primary-color: #ffd602;
$secondary-color: #036cb6;
$brand-color: #d5040a;

* {
	box-sizing: border-box;
}

:root {
	font-size: 62.5%;
}

body {
	font-family: 'Lato', sans-serif;
	height: 100vh;
	overflow: hidden;
}
